@page "/contenido"

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8 mb-8 ml-5 contentBlock ">
                <div class="portfolio-item mx-auto mt-2 contentBlock ">
                    <div class="">
                        <h2>Contenido</h2>
                        <hr style="border:1px dotted #d7d7d7; width:100%" />
                        <ul>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2>Noticias de back-end</h2>
                        <hr style="border:1px dotted #d7d7d7; width:100%" />
                        <ul>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2>Noticias del instructor</h2>
                        <hr style="border:1px dotted #d7d7d7; width:100%" />
                        <ul>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><a href="http://www.google.com" target="_blank">Título de la entrada</a> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footerText">
                <a href="http://www.google.com" target="_blank">[Ver histórico de noticias]</a>
            </div>
        </div>
    </div>
</section>