@page "/"

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 col-lg-2 mb-2 loginBlock">
                <div class="loginText mb-3 mt-2">
                    <p class="blockTitle"><strong> Entrar a la web</strong></p>
                    <label for="">Usuario:</label>
                    <input type="text" name="user">
                    <p>Contraseña:</p>
                    <input type="text" name="pass" value="" class="mb-2">
                    <button class="btn btn-primary" id="submitButton">Entrar</button>
                </div>
                <div class="loginLinks">
                    <a href="www.google.com" target="_blank"> Zona de Alumnos</a>
                    <a href="www.google.com" target="_blank"> Zona del profesor</a>
                    <a href="www.google.com" target="_blank"> Acceso a calificaciones</a>
                </div>
                <hr style="border:1px dotted #d7d7d7; width:100%" />
                <div>
                    <p class="blockTitle"><strong> Enlaces de interés</strong></p>
                </div>
                <div class="loginLinks">
                    <ul>
                        <li>
                            <a href="www.google.com" target="_blank"> Master en JavaScript</a>
                        </li>
                        <li>
                            <a href="www.google.com" target="_blank"> Master en PHP</a>
                        </li>
                        <li>
                            <a href="www.google.com" target="_blank"> Master en Frameworks</a>
                        </li>
                        <li>
                            <a href="www.google.com" target="_blank"> Master en webs fullstacks</a>
                        </li>
                        <li>
                            <a href="www.google.com" target="_blank"> victorroblresweb.es</a>
                        </li>
                    </ul>
                </div>
                <hr style="border:1px dotted #d7d7d7; width:100%" />
                <div>
                    <p>Frase del día:</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p><a href="www.google.com" target="_blank"> Leer más frases</a></p>
                </div>
            </div>
            <div class="col-md-9 col-lg-8 mb-8 ml-5 contentBlock ">
                <div class="portfolio-item mx-auto mt-2 contentBlock ">
                    <div class="">
                        <h2 class="mx-auto">Noticias de front-end</h2>
                        <hr style="border:1px dotted #d7d7d7; width:100%" />
                        <ul>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2>Noticias de back-end</h2>
                        <hr style="border:1px dotted #d7d7d7; width:100%" />
                        <ul>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2>Noticias del instructor</h2>
                        <hr style="border:1px dotted #d7d7d7; width:100%" />
                        <ul>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                            <li>
                                <p><strong>Título de la entrada</strong> Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Sed non maximus metus. Sed fringilla pellentesque
                                    feugiat. Praesent porta turpis vel pretium lacinia. Fusce ut est malesuada, blandit
                                    neque ac, vehicula ex. Nam pulvinar, enim vel consequat suscipit, purus tortor
                                    malesuada orci, eget blandit elit arcu euismod lacus. Nunc a faucibus lorem.</p>
                                <p>[13-12-2013. Paco]</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footerText">
                <p>[Ver histórico de noticias]</p>
            </div>
        </div>
    </div>
</section>
