<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorAppTest</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div>
    <p>Entrar a la Web</p>
    <p>Usuario:</p>
    
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contenido">
                Contenido
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="requerimientos">
                Requerimientos
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="lenguajes">
                Lenguajes
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="frameworks">
                Frameworks
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="proyectos">
               Proyectos
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="instructor">
                El instructor
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="resenas">
                Reseñas
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="blog">
                Blog
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="contacto">
                Contacto
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
